GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=[your_project_id]
GOOGLE_CLOUD_LOCATION=global
GOOGLE_OAUTH_CLIENT_ID="[your_oauth_client_id]"
GOOGLE_OAUTH_CLIENT_SECRET="[your_oauth_client_secret]"
MCP_SERVER_URL=http://localhost:8001/mcp
MCP_SERVER_PORT=8001